// Specific CSS for your home-page

.container {
  padding: 25px;
  text-align: center;
}

/* Pere noel image */
.header-img {
  img {
    border: 0;
    border-radius: 50%;
    background-color: white;
  }
}

.howitworks {
  padding-top: 100px;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
}


/*HEADER*/

.header {
  padding-bottom: 70px;
  margin-top: 50px;
}

.header-title {
  color: ghostwhite;
  // text-shadow: 3px 3px 24px black;
  margin: 15px 0px;
  // padding: 7px 0px;
  // box-shadow: 0 6px 6px -5px #222;
  h1 {
    border-bottom: 3px solid ghostwhite;
    padding: 8px 0px;
  }
}

/*CONTENT*/

.name-list-input-print {
  margin-top: 20px;
}


/*HOWITWORKS*/

.content-howitworks {
  text-align: center;
  margin-top: 50px;
}

.content-howitworks-text {
  text-align: center;
}
