// Specific CSS for your home-page

body {
  background-color: white;
}

.container {
  padding: 25px;
  text-align: center;
}


.howitworks {
  padding-top: 100px;
}

ul {
  padding-top: 15px;
  text-decoration: none;
  list-style: none;
}
