#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#inputnames {
  width: 400px;
  background-color: rgba(226, 201, 211, 0);
  border: 1px solid rgba(226, 201, 211, 0.8);
  color: rgba(226, 201, 211, 1);
}
